<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Qhapplicationv3">

        <activity android:name=".MainLanding"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Authentication"
            android:exported="false" />
        <activity android:name=".SearchFilters"
            android:exported="false" />
        <activity android:name=".SearchTrading"
            android:exported="false" />
        <activity android:name=".SearchRegistration"
            android:exported="false" />
        <activity android:name=".SearchLicence"
            android:exported="false" />
        <activity android:name=".SearchAll"
            android:exported="false" />
        <activity android:name=".VendorDetails"
            android:exported="false" />
        <activity android:name=".EditDetails"
            android:exported="false" />
        <activity android:name=".AddVendor"
            android:exported="false" />

    </application>
</manifest>
